# Data Science Tools and Ecosystem

In this notebook, we summarize the tools and ecosystems of data science.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used Data Science libraries
- Demonstrate basic arithmetic operations in Python
- Explore tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists include:

Python
1. NumPy
2. Pandas
3. Seaborn
4. Statsmodels
5. Scipy

R
1. ggplot2
2. dplyr
3. caret

|  Data Science Tools |
|----------------------------------|
| Jupyter Notebook                 |
| RStudio                          |
| Apache Spark                     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [29]:
# This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [31]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author 
Claudia Andrea Letelier Sep√∫lveda